#about {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  visibility: visible;
  overflow: auto;
}

.about-title {
  font-size: 1.74424rem;
  font-weight: 400;
  line-height: 1;
  margin: 3rem 0;
  text-align: center;
  text-transform: uppercase;
}

.project-grid {
  width: 100%;
  margin: 0 auto 3rem auto;
  max-width: 1024px;
  position: relative;
  height: 680px;

  .grid__item {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }

  .grid__item-grupo-rbs {
    width: 20%;
    background: black;
    height: 30%;
    overflow: hidden;
    
    img {
      position: absolute;
      width: 128px;
      height: auto;
      left: 50%;
      margin-left: -64px;
      top: 50%;
      margin-top: -17px;
    }

    &::before {
      background-size: cover;
      @include transform(scale(1) translateZ(0));
      @include transition-property(transform);
      @include transition-duration(.65s);
      z-index: 5;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      width: auto;
      height: auto;
      background-image: url('../images/grupo-rbs-hero.png');
      z-index: 0;
    }

    &:hover {
      &::before {
        @include transform(scale(1.1) translateZ(0));
      }
    }
  }

  .grid__item-premises {
    width: 20%;
    background: black;
    height: 70%;
    top: 30%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    ul {
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -154px;
    }

    .hashtag {
      display: block;
      line-height: 2rem;
      letter-spacing: -.05rem;
    }
  }

  .grid__item-welcome {
    left: 20%;
    width: 60%;
    height: 70%;
    background: rgb(247, 247, 248);
    
    h1 {
      padding: 0 10%;
      font-weight: 800;
      line-height: 2.25rem;
      font-size: 2rem;
      text-align: center;
      color: rgb(18, 52, 255);
      margin-bottom: 1.25rem;
      
      span {
        display: block;
        color: black;
        font-size: 1.5rem;
      }
    }
    
    p {
      font-weight: 500;
      text-align: center;
      padding: 0 10%;
      font-size: 1.2rem;
    }
  }

  .grid__item-data {
    right: 0;
    left: inherit;
    width: 20%;
    height: 70%;
    background: #1234ff;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;

    li {
      padding: 8% 0;
    }

    .break {
      display: block;
      font-weight: 500;
      font-size: 2.25rem;
      font-family: sans-serif;
    }
  }

  .grid__item-cc {
    right: 0;
    bottom: 0;
    width: 20%;
    height: 30%;
    background: black;
    left: inherit;
    top: inherit;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      fill: rgb(255, 255, 255);
      @include transform(translate(-50%, -50%));
      width: 60px;
      height: 60px;
    }
  }

  .grid__item-author {
    top: 70%;
    left: 60%;
    width: 20%;
    height: 30%;
    background: rgb(18, 52, 255);
    overflow: hidden;

    a {
      text-decoration: none;
      color: white;
      font-weight: 800;
      text-align: center;
      position: absolute;
      top: 50%;
      width: 100%;
      font-size: 1.8em;
      margin-top: -30px;
      padding: 5px;
      text-transform: uppercase;
    }

    &::before {
      background-size: cover;
      @include transform(scale(1) translateZ(0));
      @include transition-property(transform);
      @include transition-duration(.65s);
      z-index: 5;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      width: auto;
      height: auto;
      background-image: url('../images/author.png');
      opacity: .25;
      z-index: 0;
    }

    &:hover {
      &::before {
        @include transform(scale(1.1) translateZ(0));
      }
    }
  }

  .grid__item-specification {
    top: 70%;
    left: 40%;
    width: 20%;
    height: 30%;
    background: rgb(255, 234, 0);

    a {
      text-decoration: none;
      padding: 15px;
      text-transform: uppercase;
      color: black;
      font-weight: 800;
      text-align: center;
      position: absolute;
      top: 50%;
      width: 100%;
      font-size: 1.8em;
      margin-top: -40px;
    }
  }

  .grid__item-video {
    top: 70%;
    left: 20%;
    width: 20%;
    height: 30%;
    background: rgb(247, 247, 248);
    overflow: hidden;
    cursor: pointer;

    .video-play {
      position: absolute;
      top: 50%;
      left: 50%;
      fill: white;
      @include transform(translate(-50%, -50%));
      width: 40%;
      height: 40%;
      z-index: 20;
      opacity: .5;
      @include transition(opacity 1s);
    }

    &::before {
      background-size: cover;
      @include transform(scale(1) translateZ(0));
      @include transition-property(transform);
      @include transition-duration(.65s);
      z-index: 5;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      width: auto;
      height: auto;
      background-image: url('//i.vimeocdn.com/video/500193645_960x540.jpg');
    }

    &:hover {
      .video-play {
        opacity: 1;
      }

      &::before {
        @include transform(scale(1.1) translateZ(0));
      }
    }
  }
}