@mixin thinkers-tile($tiles) {
  padding-bottom: (100% / $tiles) * 0.55909;
  @include calc(width, (100% / $tiles) + ' - 1px');
}

#thinkers {
  background-color: rgb(20, 28, 54);
  background-image: url('../../build/images/thinkers-background.png');
  background-position: center;
  background-size: cover;
  visibility: visible;
}

.thinkers-item {
  background-color: rgba(0, 0, 0, 0.8);
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
}

.thinkers-list {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  max-width: 1325px;
}

.thinkers-prefix {
  color: rgb(202, 49, 54);
  font-style: normal;
}

.thinkers-title {
  font-size: 1.71428rem;
  font-weight: 400;
  padding: 40px 0;
  text-align: center;

  :first-child {
    letter-spacing: 0.17857rem;
  }

  :last-child {
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 1326px) {
  .thinkers-item {
    @include thinkers-tile(6);
  }
}

@media (max-width: 1325px) and (min-width: 1105px) {
  .thinkers-item {
    @include thinkers-tile(5);
  }
}

@media (max-width: 1104px) and (min-width: 884px) {
  .thinkers-item {
    @include thinkers-tile(4);
  }
}

@media (max-width: 883px) and (min-width: 663px) {
  .thinkers-item {
    @include thinkers-tile(3);
  }
}

@media (max-width: 662px) and (min-width: 442px) {
  .thinkers-item {
    @include thinkers-tile(2);
  }
}

@media (max-width: 441px) {
  .thinkers-item {
    @include thinkers-tile(1);
  }
}
