* {
  box-sizing: border-box;
}

body, button, h1, h2, ul, h3, p {
  margin: 0;
}

body, html {
  height: 100%;
}

button, ul {
  padding: 0;
}

body {
  background-color: $general-background-color;
  color: $general-font-color;
}

button, html {
  @extend %type-raleway;
}

button {
  position: relative;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.15rem;
  outline: 0;
  text-transform: uppercase;
}

html {
  color: rgb(0, 0, 0);
  font-size: 14px;

  &:before {
    position: absolute;
    content: 'The Communication Revolution';
    font: 0/0 Raleway;
  }
}

ul {
  list-style: none;
}

h1 {
  text-transform: uppercase;
  font-size: 2.85714rem;
  letter-spacing: .15rem;
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: .15rem;
}

.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 0;
  @include fadein(.5s, 1.25s);

  .nav-list {
    margin: 0 auto;
    display: table;

    .nav-list__item {
      float: left;
      margin-left: 1em;
    }

    .nav-list__item.logo {
      margin: 0 2em 0 2.5em;
    }

    .nav-list__item a {
      color: $general-font-color;
      text-transform: uppercase;
      font-size: .95rem;
      text-decoration: none;
      line-height: 88px;
      height: 88px;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header.toggle {
  background: black;
}

.section {
  position: relative;
  width: 100%;
  min-height: 100%;
}

#premises {
  visibility: hidden;
}
