@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

body, button, dialog, h1, h2, ul, h3, p {
  margin: 0;
}

body, html {
  height: 100%;
}

button, dialog, ul {
  padding: 0;
}

body {
  background-color: $general-background-color;
  color: $general-font-color;
}

button, html {
  @extend %type-raleway;
}

button {
  position: relative;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.15rem;
  outline: 0;
  text-transform: uppercase;
}

dialog {
  background-color: transparent;
  border: 0;
  display: block;
}

html {
  color: rgb(0, 0, 0);
  font-size: $em-base;

  &:before {
    position: absolute;
    content: 'The Communication Revolution';
    font: 0/0 Raleway;
  }
}

iframe {
  background-color: rgb(0, 0, 0);
  border: 0;
}

template {
  display: none;
}

ul {
  list-style: none;
}

h1 {
  text-transform: uppercase;
  font-size: 2.85714rem;
  letter-spacing: .15rem;
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: .15rem;
}

.clearfix { 
    *zoom: 1;
    
    &:before, &:after {
        clear: both;
        content: " ";
        display: block;
    }
}

.verticalAlign {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
}

#wrapper {
  position: relative;
  height: 100%;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlay-expanded #wrapper {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 77;
  opacity: 0;
  background-color: transparent;
  @include fadein(.2s, 1.25s);

  .nav-list {
    margin: 0 auto;
    display: table;
    height: 118px;

    nav {
      height: 118px;
      display: block;
      width: 100%;
    }

    .nav-list__item {
      float: left;
      margin-left: 1em;
      height: 118px;
      display: block;

      &:first-child {
        margin-left: 0;
      }
    }

    .nav-list__item.logo {

      margin: 0 1em 0 2em;
      
      img {
        vertical-align: middle;
        margin-top: -10px;
        height: 85px;
      }
    }

    .nav-list__item a {
      color: $general-font-color;
      text-transform: uppercase;
      font-size: .95rem;
      text-decoration: none;
      line-height: 118px;
      height: 118px;
      display: block;
      text-shadow: .1rem .1rem .25rem rgba(0, 0, 0, .25);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header.toggle {
  .nav {
    background: black;
  }
  .nav-list {
    height: 65px;
  }
  .nav-list__item {
    height: 65px;
  }

  .nav-list__item a {
    height: 65px;
    line-height: 65px;
    padding-top: .25rem;
  }

  .nav-list__item.logo {
    a { padding-top: 0; }   
    img {
      margin-top: 3px;
      width: 157px;
      height: auto;
    }
  }
}

.section {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.hidden {
  display: none;
}

.overlay {
  overflow: hidden;
}

.nav-small {
  position: relative;
  width: 100%;
  display: none;
}

.nav-small-button {
  position: absolute;
  width: 25px;
  height: 45px;
  right: 1.5rem;
  top: 21px;
  text-decoration: none;
  z-index: 99;
}

.nav-small-button-bar {
  display: block;
  height: 2px;
  background: white;
  margin-bottom: .65rem;
  width: 100%;
  border-radius: 1rem;
}

.nav-small-logo {
  width: 100%;
  display: block;
  text-align: center;

  img {
    margin: 10px 0 0 0;
    width: 158px;
  }
}

.nav-small-list {
  display: none;
  background-color: rgba(0,0,0,.5);
}

.nav-small-list__item {
  display: block;
  text-align: center;
  height: auto;
  line-height: 40px;

  a {
      color: $general-font-color;
      text-transform: uppercase;
      font-size: .95rem;
      text-decoration: none;
      line-height: 40px;
      height: 40px;
      display: block;
      text-shadow: .1rem .1rem .25rem rgba(0, 0, 0, .25);
  }
}

.nav-small--open .nav-small-button {
  top: 10px;
}

.nav-small--open .nav-small-button-bar {
  display: none;
}

.nav-small-close-button {
  position: absolute;
  width: 35px;
  height: 45px;
  right: 1rem;
  top: 10px;
  text-decoration: none;
}

.nav-small-close-icon {
  display: none;
  color: white;
  font-size: 55px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

.nav-small--open .nav-small-close-icon {
  display: block;
}

.nav-small--open .nav-small-logo, .toggle .nav-small-logo {
  display: block;
  height: 65px;
  background: black;

  img {
    margin: 10px 0 0 0;
    width: 158px;
  }
}

.toggle .nav-small-button {
  top: 21px;
}

.nav-small--open .nav-small-list {
  display: block;
}

// below the fold

#premises {
  visibility: hidden;
}

#about {
  visibility: hidden;
}
