* {
  box-sizing: border-box;
}

body, h1, p {
  margin: 0;
}

body, html {
  height: 100%;
}

body {
  background-color: $general-background-color;
}

html {
  color: rgb(0, 0, 0);
  @extend %type-raleway;
  font-size: 14px;

  &:before {
    content: 'The Communication Revolution';
    font: 0/0 Raleway;
  }
}

.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
}

.section {
  position: relative;
  width: 100%;
  min-height: 100%;
}
