* {
  box-sizing: border-box;
}

body, h1, p {
  margin: 0;
}

body, html {
  height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
}

html {
  color: rgb(0, 0, 0);
  @extend %type-raleway;
  font-size: 14px;

  &:before {
    content: 'The Communication Revolution';
    font: 0/0 Raleway;
  }
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}
