.portfolio {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: 88;
}

.portfolio-body, .portfolio-header {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  @include transition(opacity 0.2s);
  width: auto;
  height: auto;
}

.portfolio-body {
  right: 0;
  left: 40%;
  bottom: 0;
  overflow: auto;
}

.portfolio-videos {
  margin: 0 3.5rem 3.5rem 3.5rem;

  .left {
    width: 50%;
    float: left;
    display: block;
    position: absolute;
    min-height: 240px;
  }

  .right {
    width: 50%;
    float: right;
    display: block;
    box-sizing: border-box;
    padding: 1rem 0 0 1.45rem;
  }
}

.portfolio-video {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 2rem;
  overflow: hidden;
  min-height: 270px;

  button {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      width: auto;
      height: auto;

      @include linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), $fallback: transparent);
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 10;
    }

    .portfolio-video-picture {
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      width: auto;
      height: auto;
      @include transform(scale(1) translateZ(0));
      @include transition-property(transform);
      @include transition-duration(.65s);
      z-index: 5;
    }

    .video-play {
      position: absolute;
      top: 50%;
      left: 50%;
      fill: rgb(255, 255, 255);
      @include transform(translate(-50%, -50%));
      width: 84px;
      height: 84px;
      z-index: 20;
      opacity: .25;
      @include transition(opacity 1s);
    }

    &:hover {
      .video-play {
        opacity: 1;
      }

      .portfolio-video-picture {
        @include transform(scale(1.1) translateZ(0));
      }
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: inherit;
    line-height: 2rem;
    color: rgb(11, 12, 18);
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    color: rgb(11, 12, 18);
    line-height: 1rem;
  }
}

.portfolio-close {
  position: absolute;
  top: -9px;
  right: 0;
  font-size: 3rem;
  line-height: 1.4rem;
  opacity: 0.6;
  padding: 0;
  width: 40px;
  height: 40px;
  @include transition(opacity 0.1s);

  &:hover {
    opacity: 1;
  }
}

.portfolio-description {
  color: white;
  text-align: center;
  width: auto;
  height: auto;
  padding: 0 10%;
  line-height: 1.5rem;
  margin-top: 2rem;
}

.portfolio-header {
  right: 60%;
  left: 0;
  overflow: hidden;
}

.portfolio-name {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  width: auto;
  margin-top: -8rem;
  padding: 0 10%;
}

.portfolio-picture {
  position: absolute;
  top: -32px;
  right: -32px;
  bottom: -32px;
  left: -32px;
  background-size: cover;
  @include filter(blur(16px));
  width: auto;
  height: auto;
}

.portfolio-title {
  position: relative;
  font-size: rem(24);
  font-weight: 400;
  margin: 3.5rem;
  text-transform: uppercase;
  color: rgb(11, 12, 18);
}

// modifiers

.portfolio-show {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  @include transition(background-color 0.1s, border-color 0.1s);
}

.portfolio-expand {
  top: 0;
  left: 0;
  @include transition(top 0.4s, left 0.4s, width 0.4s, height 0.4s);
  width: 100%;
  height: 100%;
}

.portfolio-expanded {
  .portfolio-body, .portfolio-header {
    opacity: 1;
  }
}

.portfolio-hide {
  opacity: 0;
  @include transition(opacity 0.2s);
}

.portfolio-hidden {
  display: none;
}
